.container {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.col-form-label {
    line-height: 2.3;
}

.userInterface-item-header {
    margin-top: 0;
}

.userInterface {
    padding: 0 15px;
    border-radius: 4px;
    border: 1px #ccc solid;
}

.userInterface-item {
    padding: 20px 0;
    border-bottom: 1px #ccc solid;
}

.userInterface-item:last-child {
    border-bottom: 0;
}

.smallContainer {
    margin-bottom: 20px;
}

.smallContainer-header {
    border: 1px #ccc solid;
    border-bottom: 0;
    border-radius: 4px 4px 0 0;
    margin: 0;
    padding: 10px;
}

.privMessage {
    color: #660099;
}

#message {
    font-weight: bold;
}

.smallContainer-list {
    height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 0 0 4px 4px;
    border: 1px #ccc solid;
}

.chat-window {
    height: 400px;
    margin-bottom: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 4px;
    border: 1px #ccc solid;
}

.chat-line {
    padding: 10px 20px;
    border-bottom: 1px #ccc solid;
}

.availableUser {
    padding: 10px 20px;
    border-bottom: 1px #ccc solid;
    font-weight: bold;
    color: #00CC00;
}

.room-name {
    font-weight: bold;
    display: inline-block;
}

.btn-join, .btn-priv {
    transform: translateY(-7.5px);
}

.chat-warning {
    color: #D8000C;
    background-color: #FFBABA;
    padding: 10px 20px;
}

.chat-line:nth-child(even) {
    background-color: #FAFAFA;
}

.chat-line-time,
.chat-line-nick,
.chat-line-status {
    display: inline-block;
}

.chat-line-time,
.chat-line-status {
    opacity: 0.6;

    font-style: italic;
}

.chat-line-nick {
    opacity: 0.6;

    font-weight: bold;
}

textarea {
    resize: none;
}

.pull-xs-right {
    float: right;
}

#chat {
    display: none;
}

.invalid {
    border-color: #FF0061;
}

.error-msg {
    padding: 10px;
    border-radius: 3px;
    
}